<header id="navbar" class="stickynav" [ngClass]="{'box': showNavBg}">
    <nav class="navbar w-100 navbar-expand-lg nav-space">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="#"><img src="./assets/images/dananz-logo.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-align ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
            <a class="nav-link bod" href="#">Our Teams</a>
            </li>
            <li class="nav-item">
            <a class="nav-link contact-btn" href="#">Contact Us</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
</header>