<div class="footer-one">
    <div class="w-footer">
        <p class="text-call">let's discuss making your interior like a dream place!</p>
    </div>
    <div class="w-footer padd">
        <p class="text-contact">Contact us below to work together to build your amazing interior</p>
        <button class="footer-btn" type="button">Contact Us</button>
    </div>
</div>
<div class="footer-two">
    <div class="desc-w">
        <img src="./assets/images/dananz-logo.jpg" alt="">
        <p class="desc">One of the best furniture agency.</p>
    </div>
    <div class="connect">
        <label class="foot-label"><span class="dot"></span> Enter  your email to get the latest news</label>
        <div tabindex="1" class="form-inp">
            <input class="foot-input" placeholder="Email Address" type="text">
            <a href="#"><img src="./assets/images/submit-arrow.jpg" alt=""></a>
        </div>
        <div class="socials">
            <p>Follow us On</p>
            <div class="social-icons">
                <div class="social-circle">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                </div>
                <div class="social-circle">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
                <div class="social-circle">
                    <a href="#"><i class="bi bi-tiktok"></i></a>
                </div>
                <div class="social-circle">
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
