<div class="footer-one">
    <div class="w-footer">
        <p class="text-call">let's discuss making your interior like a dream place!</p>
    </div>
    <div class="w-footer padd">
        <p class="text-contact">Contact us below to work together to build your amazing interior</p>
        <button class="footer-btn" type="button">Contact Us</button>
    </div>
</div>
<div class="footer-two">
    <div class="desc-w">
        <img src="./assets/images/dananz-logo.png" alt="">
        <p class="desc">One of the best furniture agency.</p>
    </div>
    <div class="connect">
        <label><span class="dot"></span> Enter  your email to get the latest news</label>
        <div class="form-inp">
            <input placeholder="Email Address" type="text">
            <a href="#"><img src="./assets/images/submit-arrow.png" alt=""></a>
        </div>
        <div class="socials">
            <p>Follow us On</p>
            <div class="social-icons">
                <div class="social-circle">
                    <i class="bi bi-facebook"></i>
                </div>
                <div class="social-circle">
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="social-circle">
                    <i class="bi bi-tiktok"></i>
                </div>
                <div class="social-circle">
                    <i class="bi bi-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</div>
