<footer class="d-flex align-items-start pt-5 justify-content-center">
    <div class="footer-card pt-lg-5 pt-4 pb-3">
        <div class="footer-card-details">
            <p class="footer-head">Not just that, you get settled either in Naira or US Dollars, depending on your preference or what your customers pay.</p>
            <button type="button" class="footer-btn mb-4">
                <img src="./assets/images/paygate/skype.svg" alt="">
                <span class="ms-3">SPEAK DIRECTLY WITH OUR BUSINESS TEAM</span>
            </button>
            <p class="contact-text">Reach us via +234 806 044 9642 or sales@upperlink.ng</p>
        </div>
    </div>
</footer>