.footer-one {
  background-color: #2c3878;
  padding: 4em 8em;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.w-footer {
    width: 50%;
}
.padd {
    padding-left: 7rem;
}
.footer-btn {
    background-color: #ffffff;
    color: #333333;
    padding: 0.8rem 1.7rem;
    border: none;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.5s;
}
.footer-btn:hover {
    background-color: rgba(255, 255, 255, 0.76);
}
.desc-w {
    width: 40%;
}
.desc-w img {
    max-width: 100%;
}
.desc {
    font-size: 36px;
    font-weight: 600;
}
.text-call {
  font-size: 36px;
}
.text-contact {
  font-size: 18px;
  color: #D9D9D9;
}
.footer-two {
  padding: 8em;
  display: flex;
  justify-content: space-between;
}
.connect {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    width: 50%;
}
.foot-label {
    font-size: 18px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.form-inp {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #141414;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    transition: all 0.5s;
}
.foot-input {
    border: none;
    padding-top: 0.5rem;
    font-size: 16px;
    width: 100%;
}
.foot-input:focus {
    outline: none;
}
.socials {
    margin-top: 3rem;
    margin-left: auto;
}
.socials p {
    font-size: 16px;
    margin-bottom: 0.5rem;
}
.social-icons {
    display: flex;
}
.social-circle {
    background-color: #D9D9D9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-circle a {
    color: #141414;
}
.social-circle:not(:first-child) {
    margin-left: 15px;
}
.social-circle:not(:last-child) {
    margin-right: 15px;
}
.bi {
    font-size: 18px;
}
.dot {
    display: inline-block;
    background-color: #141414;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.foot-input::placeholder {
    color: #D9D9D9;
}
@media (max-width: 1121px) {
    .connect, .padd {
        padding-left: 3rem;
    }
}
@media (max-width: 895px) {
    .footer-one, .footer-two {
        flex-direction: column;
    }
    .desc-w, .connect, .w-footer {
        width: 100%;
    }
    .padd, .connect {
        padding-left: 0;
    }
    .socials {
        margin-right: auto;
    }
}
@media (max-width: 418px) {
    .foot-label, .text-contact {
        font-size: 16px;
    }
    .text-call, .desc {
        font-size: 32px;
    }
}