<div class="home-contain">
    <div class="hero-sect">
        <div class="hero-text">
            <h1>Minimalist Room</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <img src="./assets/images/dananz-hero.svg" alt="">
    </div>
    <div class="home-text">
    </div>
    <div class="gallery-sect">
        <div class="text-one">
            <h3>Project Overview</h3>
            <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
            <div class="text-foot">
                <p>July 22 - 2022</p>
                <p>Interior Design - Furnitur</p>
            </div>
        </div>
        <div class="text-two">
            <h3>Design Process</h3>
            <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
            <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
        </div>
        <img src="./assets/images/dananz-gallery-1.svg" alt="">
        <img src="./assets/images/dananz-gallery-2.svg" alt="">
        <img class="middle-img" src="./assets/images/dananz-gallery-3.svg" alt="">
        <img src="./assets/images/dananz-gallery-4.svg" alt="">
        <img src="./assets/images/dananz-gallery-5.svg" alt="">
    </div>
</div>
