<!-- <div class="home-contain">
    <div class="hero-sect">
        <div class="hero-text">
            <h1>Minimalist Room</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <img src="./assets/images/dananz-hero.svg" alt="">
    </div>
    <div class="home-text">
    </div>
    <div class="gallery-sect">
        <div class="text-one">
            <h3>Project Overview</h3>
            <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
            <div class="text-foot">
                <p>July 22 - 2022</p>
                <p>Interior Design - Furnitur</p>
            </div>
        </div>
        <div class="text-two">
            <h3>Design Process</h3>
            <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
            <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
        </div>
        <img src="./assets/images/dananz-gallery-1.svg" alt="">
        <img src="./assets/images/dananz-gallery-2.svg" alt="">
        <img class="middle-img" src="./assets/images/dananz-gallery-3.svg" alt="">
        <img src="./assets/images/dananz-gallery-4.svg" alt="">
        <img src="./assets/images/dananz-gallery-5.svg" alt="">
    </div>
</div> -->
<div class="home-contain">
    <div class="hero-sect">
        <div class="hero-text">
            <p class="font-1">Process payments where and</p>
            <h1 class="font-2">Perform safe and secure transactions.</h1>
        </div>
        <div class="d-flex flex-row w-100 justify-content-center font-1">
            <div class="px-sm-2 px-1 mb-3 mb-md-0">
                <button class="create-btn" type="button">Create a free Account</button>
            </div>
            <div class="px-sm-2 px-1">
                <button class="contact-btn" type="button">Contact Support</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="image-sect">
    <img  src="./assets/images/paygate/landing-image-1.svg" alt="">
    <img  src="./assets/images/paygate/landing-image-2.svg" alt="">
    <img src="./assets/images/paygate/landing-image-3.svg" alt="">
</div> -->
<div class="image-sect">
    <div class="carousel">
        <img class="carousel-image" src="./assets/images/paygate/landing-image-1.svg" alt="">
        <img class="carousel-image" src="./assets/images/paygate/landing-image-2.svg" alt="">
        <img class="carousel-image" src="./assets/images/paygate/landing-image-3.svg" alt="">
        <img class="carousel-image" src="./assets/images/paygate/landing-image-1.svg" alt="">
    </div>
</div>
<div class="px-5 py-3">
    <div class="h-line">
        <div class="h-line-main"></div>
    </div>
</div>
<div class="partners-sect d-flex flex-column align-items-center">
    <p class="font-1">Tested and trusted by</p>
    <div class="partners-img-group d-flex justify-content-md-between">
        <img src="./assets/images/paygate/landing-logo-1.svg" alt="">
        <img src="./assets/images/paygate/landing-logo-2.svg" alt="">
        <img src="./assets/images/paygate/landing-logo-3.svg" alt="">
        <img src="./assets/images/paygate/landing-logo-4.svg" alt="">
        <img src="./assets/images/paygate/landing-logo-5.svg" alt="">
        <img src="./assets/images/paygate/landing-logo-6.svg" alt="">
    </div>
</div>
<div class="info-sect d-flex justify-content-center">
    <div class="info-sect-item d-flex flex-column">
        <h3 class="font-2">How can Paygate help you?</h3>
        <p class="font-1">Upperlink Paygate is a collection platform. It enables merchants to sell and recieve payments for goods or services
        seamlessly online.</p>
        <p class="font-1 mt-auto bott-text">We are in a cashless era and there’s need to create multiple channels of payment, this and many more is what Upperlink
        Paygate offers. Irrespective of your business type or size, we are here for you.</p>
    </div>
    <div class="info-sect-item d-md-block d-none">
        <img class="w-100" src="./assets/images/paygate/landing-image-4.svg" alt="">
    </div>
    <!-- <p class="font-1 mt-auto bott-text">We are in a cashless era and there’s need to create multiple channels of payment,
        this and many more is what Upperlink
        Paygate offers. Irrespective of your business type or size, we are here for you.</p> -->
    <div class="pay-card">
        <div class="pay-card-form">
            <div class="d-flex p-sm-3 p-1 justify-content-between pay-card-head">
                <div class="pay-user">
                    <p class="pay-email mb-0">johndoe@gmail.com</p>
                    <p class="pay-amount">NGN <span>3,500.00</span></p>
                </div>
                <div class="pay-img"></div>
            </div>
            <div class="p-sm-3 p-1">
                <div class="row mb-4">
                    <div class="col-12 mb-2">
                        <div class="d-flex align-items-center pay-field p-2">
                            <img src="./assets/images/paygate/card.svg" alt="">
                            <span class="ms-3">0123 4567 8909 6547</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-center pay-field p-2">
                            <img src="./assets/images/paygate/date.svg" alt="">
                            <span class="ms-3">12 / 23</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-center pay-field p-2">
                            <img src="./assets/images/paygate/card-code.svg" alt="">
                            <span class="ms-3">053</span>
                        </div>
                    </div>
                </div>
                <button class="pay-btn mb-3" type="button">
                    <div class="ms-auto">Pay <span>N3,500</span></div>
                    <img class="ms-auto" src="./assets/images/paygate/line.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
<div class="process-sect d-flex flex-column flex-lg-row justify-content-center">
    <div class="process-sect-imgs d-flex align-items-center justify-content-center">
        <div class="ellipse-group">
            <div class="ellipse-item"></div>
            <img class="process-img-a" src="./assets/images/paygate/landing-image-5.svg" alt="">
            <img class="process-img-b" src="./assets/images/paygate/landing-image-6.svg" alt="">
            <img class="process-img-c" src="./assets/images/paygate/landing-image-7.svg" alt="">
        </div>
    </div>
    <div class="process-sect-text">
        <h3 class="font-2 mb-4">Seamless Integration</h3>
        <p>There are three ways to utilize the platform.</p>
        <ul>
            <li>Direct Onboarding</li>
            <li>Hosted Checkout</li>
            <li>Direct API Integration</li>
        </ul>
        <p>We offer Seamless integration, efficient and dedicated support and above all a competitive transaction fee.</p>
    </div>
</div>
